label input {
    display: none;/* <--скрываем дефолтный чекбокс */
  }
  label span {/* <-- стилизируем новый */
    height: 12px;
    width: 12px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    background-color:#FFF;
    border-radius:2px;
    padding:3px;
  }
  [type=checkbox]:checked + span:before {/* <-- ставим иконку, когда чекбокс включен  */
    content: '\2714';
    width: 18px;
    height: 18px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    font-size:18px;
    color:#FFF;
    margin-left: -4px;
    margin-top: -4px;
    background-color:green;
  }

  